.discordInfo {
    /* set to discord blurple */
    background-color: rgb(114, 137, 218);
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.discordInfo:hover {
    background-color: rgb(114, 137, 218, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.discordInfo button {
    background-color: rgb(114, 137, 218);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.discordInfo button:hover {
    background-color: rgb(114, 137, 218, 0.5);
    transition: 0.3s;
}

.discordInfo h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 12px;
}

.discordInfo p {
    margin-top: 0;
    margin-bottom: 12px;
}

.copiedText {
    color: rgb(8, 156, 0);
    transition: 0.3s;
}

.twitterInfo {
    /* set to twitter blue */
    background-color: rgb(29, 161, 242);
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.twitterInfo:hover {
    background-color: rgb(29, 161, 242, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.twitterInfo button {
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.twitterInfo button:hover {
    background-color: rgb(29, 161, 242, 0.5);
    transition: 0.3s;
}

.twitterInfo h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 12px;
}

.twitterInfo p {
    margin-top: 0;
    margin-bottom: 12px;
}

.githubInfo {
    /* set to github black */
    background-color: rgb(36, 41, 46);
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.githubInfo:hover {
    background-color: rgb(36, 41, 46, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.githubInfo button {
    background-color: rgb(36, 41, 46);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.githubInfo button:hover {
    background-color: rgb(36, 41, 46, 0.5);
    transition: 0.3s;
}

.githubInfo h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 12px;
}

.githubInfo p {
    margin-top: 0;
    margin-bottom: 12px;
}

/* AGORI, purple colour scheme */
.agoriInfo {
    /* set to agori purple */
    background-color: rgb(125, 21, 221);
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.agoriInfo:hover {
    background-color: rgb(125, 21, 221, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.agoriInfo button {
    background-color: rgb(125, 21, 221);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}

.agoriInfo button:hover {
    background-color: rgb(125, 21, 221, 0.5);
    transition: 0.3s;
}

.agoriInfo h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 12px;
}

.holyShitHatsuneMiku {
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    transform: rotate(0deg);
    transition: 0.3s;
}

.holyShitHatsuneMiku:hover {
    width: 55%;
    height: 55%;
    transition: 0.3s;
}

body {
    background-color: rgb(40, 122, 135);
    color: white;
}

.miku {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    transition: 0.3s;
}

.miku:hover {
    width: 105%;
    height: 105%;
    transition: 0.3s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background: rgb(0, 51, 63);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 115, 141);
    border-radius: 10px;
}

/* Hide horizontal scrollbar */
html {
    overflow-x: hidden;

    /* Custom scrollbar for gecko browsers */
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 115, 141) rgb(0, 51, 63);

}

.backButton button {
    background-color: rgb(0, 115, 141);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}
