body {
    background-color: rgb(40, 122, 135);
    color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background: rgb(0, 51, 63);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 115, 141);
    border-radius: 10px;
}

/* Hide horizontal scrollbar */
html {
    overflow-x: hidden;

    /* Custom scrollbar for gecko browsers */
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 115, 141) rgb(0, 51, 63);

}

a {
    color: rgb(0, 38, 255)
}
