body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 3, 56);
}

.Guglio {
    width: fit-content;
    padding: 5px;
    margin: auto;
    background-color: #1c162b;
    margin-top: 5%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}

.Guglio:is(img, p) {
    margin: 5px;
    border-radius: 50%;
}

.Guglio:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    scale: 1.025;
    transition: 0.5s;
}

/* Ease back when mouse is not hovering */
.Guglio:not(:hover) {
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    scale: 1;
    rotate: 0deg;
}

.profile {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.author {
    color: #b4b4b4;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.info {
    color: #b4b4b4;
    font-size: 15px
}

.social {
    background-color: #1c162b;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

.title {
    vertical-align: middle;
    display: inline;
    color: #b4b4b4;
    border-radius: 5px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.link {
    display: inline;
    color: white;
    font-weight: 100;
    color: #bdace7;
    background-color: #15111f;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.link:hover {
    background-color: #1c162b;
    transition: 0.5s;
}

.link:not(:hover) {
    transition: 0.5s;
}

.Portfolio {
    width: fit-content;
    padding: 5px;
    margin: auto;
    background-color: #1c162b;
    margin-top: 5%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}